{% extends "base.html" %}
{% block title %}Add Category{% endblock %}
{% block content %}

<!-- JavaScript to get text from input-->
<script type="text/javascript">
    $(document).ready(function() {
        var category_name = $('#category_name');
        var submit_category = $('#submit_category');
        submit_category.click(function() {
            alert(category_name.val());
        });
    });
</script>


<!--.container jumbotron mt-3 cad card-body-->
<div class="container">
 <div class="jumbotron mt-3">
  <div class="card card-body">
  
<h1>Add Category☁</h1>

  <form action="add_category" method="post">
  <div class="form-group">
    <input type="text" id="category_name" name="category" class="form-control" placeholder="Category Name" /><p></p>
    <center>
    <button type="submit" id="submit_category" class="btn btn-primary">Add Category</button>
    <button type="reset" value="reset" class="btn btn-primary">Clear</button><p></p>    <p></p>

<h1></h1>
    <a class="btn btn-primary" href="categories" role="button">View Category &raquo;</a>
    <form action="/add_item" method="post">
    	<button type="submit" class="btn btn-primary">Add Item</button>
    </form>
	</center>

    </div>
  </form>
 </div>



<!--.container jumbotron mt-3 card card-body-->
    </div>
  </div>
</div>

<!-- Modal: the id of the parent div MUST have the same name as the data-target in the trigger -->
<div class="modal fade" id="basicModal" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
    <div class="modal-dialog">
        <!-- Holds the contents of the modal -->
        <div class="modal-content">
            <!-- Modal header -->
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&amp;times;</button>
              <h4 class="modal-title" id="myModalLabel">Modal title</h4>
            </div>
            <!--Modal Body -->
            <div class="modal-body">
                <h3> Category Successfully Added! </h3>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
    </div>
  </div>
</div>

{% endblock %}
