{% extends "base.html" %}
{% block title %}Add Department{% endblock %}
{% block content %}

<!-- NEW MODAL -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- JavaScript to get text from input-->
<script type="text/javascript">
    $(document).ready(function() {
        var department_name = $('#department_name');
        var submit_department = $('#submit_department');
        submit_department.click(function() {
            alert(department_name.val());
        });
    });
</script>

<!--.container cad card-body-->
<div class="container">
  <div class="card card-inverse text-center" style="background-color: #343a40; border-color: #333; color:#FFFFFF; padding: 25px;">
    <div class="card-block">
      <blockquote class="card-blockquote">
        <h2 style="margin-top:20px">Add Department</h2>
      </blockquote>
        <form action="add_department" method="post">
          <input type="text" id="department_name" name="department" class="form-control" placeholder="Department Name" /><br/>
          <button type="submit" id="submit_department" class="btn btn-success btn-sm">Add Department</button>                
          <button type="reset" value="reset" class="bbtn btn-success btn-sm">Clear</button><p></p>    <p></p>

          <!-- New Button 
          <button type="button" id="submit_department" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Add Department</button>-->
      </form>
     </div>
   </div><!--.card-->
<!--.container jumbotron mt-3 card card-body-->
</div>
{% endblock %}
