{% extends "base.html" %}
{% block title %}Add Department{% endblock %}
{% block content %}

<!-- NEW MODAL -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
<!-- JavaScript to get text from input-->
<script type="text/javascript">
    $(document).ready(function() {
        var department_name = $('#department_name');
        var submit_department = $('#submit_department');
        submit_department.click(function() {
            alert(department_name.val());
        });
    });
</script>


<!--.container jumbotron mt-3 cad card-body-->
<div class="container">
 <div class="jumbotron mt-3">
  <div class="card card-body">

  <form action="add_department" method="post">
    <div class="form-group">
      <input type="text" id="department_name" name="department" class="form-control" placeholder="Department Name" />
      <button type="submit" id="submit_department" class="btn btn-primary">Add Department</button>

    <!-- New Button 
    <button type="button" id="submit_department" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Add Department</button>-->
    </div>
  </form>

  </div>
</div>
{% endblock %}
