{% extends "base.html" %}
{% block title %}Add Equipment{% endblock %}
{% block content %}
<div class="jumbotron text-center">
  <h1>Select {{ prompt }}</h1>
</div>
<form action="add_item" method="post">
  {% for k, v in data.items() %}
  <input type="hidden" name="{{ k }}" value="{{ v|e }}" />
  {% endfor %}
  <div class="form-group">
    <select class="form-control" name="{{ prompt_id }}">
      {% for id, name in options %}
      <option value="{{ id }}">{{ name|e }}</option>
      {% endfor %}
    </select>
    <button type="submit" class="btn btn-primary">Next</button>
  </div>
</form>

{% endblock %}
