{% extends "base.html" %}
{% block title %}Add Category{% endblock %}
{% block content %}

<!-- JavaScript to get text from input-->
<script type="text/javascript">
    $(document).ready(function() {
        var category_name = $('#category_name');
        var submit_category = $('#submit_category');
        submit_category.click(function() {
            alert(category_name.val());
        });
    });
</script>


<!--.container cad card-body-->
<div class="container">
  <div class="container">
  <div class="card card-inverse text-center" style="background-color: #343a40; border-color: #333; color:#FFFFFF; padding: 25px;">
    <div class="card-block">
      <blockquote class="card-blockquote">
        <h2 style="margin-top:20px">Add Category</h2>
      </blockquote>
        <form action="add_category" method="post">
          <input type="text" id="category_name" name="category" class="form-control" placeholder="Category Name" /><p></p>
          <button type="submit" id="submit_category" class="btn btn-success btn-sm">Add Category</button>
          <button type="reset" value="reset" class="btn btn-success btn-sm">Clear</button><p></p>    <p></p>
        </form>
     </div>
   </div><!--.card-->
</div><!--.container card card-body-->

<!-- Modal: the id of the parent div MUST have the same name as the data-target in the trigger -->
<div class="modal fade" id="basicModal" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
    <div class="modal-dialog">
        <!-- Holds the contents of the modal -->
        <div class="modal-content">
            <!-- Modal header -->
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&amp;times;</button>
              <h4 class="modal-title" id="myModalLabel">Modal title</h4>
            </div>
            <!--Modal Body -->
            <div class="modal-body">
                <h3> Category Successfully Added! </h3>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
    </div>
  </div>
</div>

{% endblock %}
