{% extends "base.html" %}
{% block title %}Add Category{% endblock %}
{% block content %}
<!--.container cad card-body-->
<div class="container">
  <div class="card card-inverse text-center" style="background-color: #343a40; border-color: #333; color:#FFFFFF; padding: 25px;">
    <div class="card-block">
      <blockquote class="card-blockquote">
        <h2 style="margin-top:20px">Add Item Type</h2>

        <!--add_item-->
        <form action="add_item_type" method="post">
          <div class="form-group">
            <select class="form-control" name="category_id">
              {% for category_id, category_name in categories %}
              <option value="{{ category_id }}">{{ category_name|e }}</option>
              {% endfor %}
            </select>
            <input type="text" name="item_type" class="form-control" placeholder="Item Type Name" /><br/>
            <center>
              <button type="submit" class="btn btn-success btn-sm">Add Item Type</button>       
              <button type="reset" value="reset" class="btn btn-success btn-sm">Clear</button><p></p>    <p></p>
        </form>
     </div>
   </div><!--.card-->
<!--.container jumbotron mt-3 card card-body-->
</div>

{% endblock %}
