<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    {% block head %}
    <title>AVTory - {% block title %}{% endblock %}</title>
    {% endblock %}
    <link rel="icon" href="images/AV.png" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" />
    <link rel="stylesheet" href="css/avtory-style.css" />
  </head>
  <body>
    <header>
      <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
	<a class="navbar-brand" href="/">
	  <img src="/images/AV.png" width="50" height="auto"/>
	</a>

	<button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
	</button>

	<div class="collapse navbar-collapse" id="navbarsExampleDefault">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
	    <li class="nav-item"><a class="nav-link" href="categories">Categories</a></li>
	    {% if privs == 'admin' %}
            <li class="nav-item"><a class="nav-link" href="users">User Management</a></li>
	    {% endif %}
            <li class="nav-item"><a class="nav-link" href="logout">Log Out</a></li>
          </ul>
	</div>
      </nav>
    </header>

    <!-- main content -->
    <div class="container" id="main_content">
      {% if error_msg %}
      <div>
	{{ error_msg }}
      </div>
      {% endif %}
      {% block content %}{% endblock %}
    </div>
    <!-- end content -->

    <!--BOTTOM NAV BAR-->
    <nav class="navbar fixed-bottom navbar-expand navbar-dark bg-dark">
      <!--BOTTOM DROP UP-->
      <li class="nav-item dropup" style="list-style-type:none" >
	<a class="nav-link dropdown-toggle" href="#" id="dropdown10" data-toggle="dropdown" aria-haspopup="true"  aria-expanded="false">
          <img src="images/arrowuppWhite.png" width="25" height="auto">
	</a>
	<div class="dropdown-menu" aria-labelledby="dropdown10">
          <a class="dropdown-item" href="/">Home</a>
          <a class="dropdown-item" href="categories">Categories</a>
	  {% if privs == 'admin' %}
	  <a class="dropdown-item" href="users">User Management</a>
	  {% endif %}
	</div>
      </li>
    </nav>
    <!--END NAV-->

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.6/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"></script>
  </body>
</html>
