{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block content %}


<div class="container">
	<div class="jumbotron mt-2">
		<p id="main_content">
			<center>
				<img class="center-block" src="/images/AV.png" align="center-block"></p>
				
<div class="form-group col-md-6">
        <a class="btn btn-lg btn-primary" href="item_list" role="button">Check In/Out Process &raquo;</a>

        <form action="/add_item" method="post">
          <button type="submit" class="btn btn-primary">Add Item</button>
        </form>
</div>

        
    	</center>
			<br/>
			<div class="table-responsive">
				<table class="table table-striped">
					<h4>Recent Equipment Added
						<a href=""><img src="../images/setting.png" width="25" height="auto"></a>
					</h4>
					<thead><tr>
						<th>Date Added</th>
						<th>Time</th>
						<th>Item</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>11-16-17</td>
              			<td>12:00pm</td>
			              <td>iPad</td>
			          </tr>
			      </table>          

			      <table class="table table-striped">
					<h4>Recent Checked In
              			<a href=""><img src="../images/setting.png" width="25" height="auto"></a>
              		</h4>
              	<thead>
              	<tr>
                	<th>Date Added</th>
                	<th>Time</th>
                	<th>Item</th>
              	</tr>
          	</thead>
          	<tbody>
            <tr>
              	<td>11-15-17</td>
              	<td>12:00pm</td>
              	<td>Speaker</td>
           	 </tr>
         	</table>

         <table class="table table-striped">
              <h4>Recent Checked Out
              <a href="">
                <img src="../images/setting.png" width="25" height="auto">
              </a>
              </h4>
              <thead><tr>
                <th>Date Added</th>
                <th>Time</th>
                <th>Item</th>
              </tr>
          </thead>
          <tbody>
            <tr>
              <td>11-10-17</td>
              <td>2:00pm</td>
              <td>Mircophone</td>
            </tr>
         </table>
        </div>

        </div>



	<div class="jumbotron mt-3">
		<p id="About">
			<li>AVtory is a web application that has helps manage equipment and inventory.</li>
			<li>AVtory systems would improve efficiency by providing the employees with a secure and user-friendly interface to interact with their equipment stored in a database.</li>
			<li>Problem Statement Many organizations manage their inventory through custom spreadsheets or text documents, which are error prone and time consuming.</li> 
			<li>Commercial solutions to this problem exist, but they are expensive.</li>
			<li>Open source solutions also exist, but most of them lack essential features such as the ability to check out equipment.</li>
			<li>Therefore, we will create our own system to manage inventory.</li>
			<li>
			Contributors to AVtory:</br></li>
		</p>
	</div>

		</p>
	</div>
</div>

{% endblock %}
