{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block content %}

<!--BEGIN BODY-->
<p>
  <img class="mx-auto d-block" src="/images/AV.png">
</p>
<h1>Quick Links</h1>

<!--START TOP CONTAINER FOR LINKS-->
<table class="table table-striped table-responsive">
  <!--FIRST ROW OF BUTTONS-->
  {% if admin %}
  <tr align="center">
    <td>
      <!-- Department Drop down button -->
      <div class="btn-group">
        <button type="button" class="btn btn-success btn-sm"><a class="linkButton" href="departments">Department</a></button>
        <button type="button" class="btn btn-success dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <span class="sr-only">Toggle Dropdown</span>
        </button>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="add_department">Add Department</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="add_item">Add Item</a>
          <a class="dropdown-item" href="add_item">View Equipment Inventory</a>
        </div>
      </div><!--./end of Department Button-->
    </td>
    <td>
      <!-- Category Drop down button -->
      <div class="btn-group">
        <button type="button" class="btn btn-success btn-sm"><a class="linkButton" href="categories">Category</a></button>
        <button type="button" class="btn btn-success dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <span class="sr-only">Toggle Dropdown</span>
        </button>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="add_category">Add Category</a>
          <a class="dropdown-item" href="categories">View All Category</a>
        </div>
      </div><!--./end of Category Button-->
    </td>
  </tr>
  {% endif %}
  <tr align="center">
    <td>
      <!-- Item Drop down button -->
      <div class="btn-group">
        <button type="button" class="btn btn-success btn-sm"><a class="linkButton" href="item_list">Equipment Inventory</a></button>
        <button type="button" class="btn btn-success dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <span class="sr-only">Toggle Dropdown</span>
        </button>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="add_item">Add Item</a>
          <a class="dropdown-item" href="item_list">View Equipment Inventory</a>
        </div>
      </div><!--./end of Item Button-->
    </td>
    <td>
      <!-- Item types Drop down button -->
      <div class="btn-group">
        <button type="button" class="btn btn-success btn-sm"><a class="linkButton" href="item_types">Item Types</a></button>
        <button type="button" class="btn btn-success dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <span class="sr-only">Toggle Dropdown</span>
        </button>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="item_types">Add Item Types</a>
          <a class="dropdown-item" href="add_item_type">View Item Types</a>
        </div>
      </div><!--./end of Item Button-->
    </td>
  </tr>
</table><!--END BUTTON TABLE-->

<!--BEGIN RECENT DATA CONTAINER-->
<!--RECENTLY ADDED EQUIPMENT-->
<table class="table table-sm table-striped table-response">
  <h4>Recently Added Equipment 
    <a href="item_list"><img src="images/setting.png" width="25" height="auto"></a>
  </h4>
  <thead>
    <tr>
      <th>Date</th>
      <th>Name</th>
      <th>Description</th>
      <th>Type</th>
    </tr>
  </thead>
  <tbody>
    {% for item in items %}
    <tr>
      <td>{{ item.Date_Added }}</td>
      <td>{{ item.Item_Name|e }}</td>
      <td>{{ item.Description|e }}</td>
      <td>{{ item.Item_Type_Name|e }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

<!--RECENTLY CHECKED IN EQUIPMENT-->
<table class="table table-sm table-striped table-responsive">
  <h4 style="margin-top:50px">Recently Checked In
    <a href="item_list"><img src="images/setting.png" width="25" height="auto"></a>
  </h4>
  <thead>
    <tr>
      <th>Item</th>
      <th>Date</th>
      <th>By</th>
      <th>Comment</th>
    </tr>
  </thead>
  <tbody>
    {% for item in checkin %}
    <tr>
      <td>{{ item.Item_Name|e }}</td>
      <td>{{ item.Log_Date }}</td>
      <td>{{ item.Last_Name|e }}, {{ item.First_Name|e }}</td>
      <td>{{ item.Comment|e }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

<!--RECENTLY CHECKED OUT EQUIPMENT-->
<table class="table table-sm table-striped table-responsive">
  <h4 style="margin-top:50px">Recently Checked Out
    <a href="item_list">
      <img src="images/setting.png" width="25" height="auto">
    </a>
  </h4>
  <thead>
    <tr>
      <th>Item</th>
      <th>Date</th>
      <th>Due</th>
      <th>By</th>
      <th>Comment</th>
    </tr>
  </thead>
  <tbody>
    {% for item in checkout %}
    <tr>
      <td>{{ item.Item_Name|e }}</td>
      <td>{{ item.Date_Checked_Out }}</td>
      <td>{{ item.Due_Date }}</td>
      <td>{{ item.Last_Name|e }}, {{ item.First_Name|e }}</td>
      <td>{{ item.Comment|e }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
<!--END RECENT DATA-->

<!--AVtory ABOUT US CONTAINER-->
<div class="jumbotron mt-3">
  <h4 align="center">About AVtory</h4>
  <p id="About">
    <!--BULLET POINT LIST OF INFO-->
    <ul class="list-group">
      <li>AVtory is a web application that has helps manage equipment and inventory.</li>
      <li><dt>Purpose:</dt></li>
      <ul>
        <li>Improve efficiency by providing employees with a secure and user-friendly interface to interact with their equipment stored in a database.</li>
      </ul>
      <li><dt>Problem Statement:</dt></li>
      <ul>
        <li>Many organizations manage their inventory through custom spreadsheets or text documents, which are error prone and time consuming.</li>
      </ul>
      <li><dt>Alternative Solutions:</dt></li>
      <ol>
        <li>Commercial solutions to this problem exist, but they are expensive.</li>
        <li>Open source solutions also exist, but most of them lack essential features, such as the ability to check out equipment.</li>
      </ol>
      <li>Therefore, we decided to create our own system to manage inventory.</li>
      <li><dt>AVtory Contributors:</dt></li>
      <ol>
          <li>Denise Nguyen</li>
          <li>Jason Sneddon</li>
          <li>Nick Wallingford</li>
      </ol>
    </ul>
  </p>
</div>
{% endblock %}
