{% extends "base.html" %}
{% block title %}Equipment List{% endblock %}
{% block content %}

<form action="/add_item" method="post">
  <button type="submit" class="btn btn-primary">Add Item</button>
</form>

<form action="/view_item" method="post">
  {% for item in items %}
  <p>
    <button type="submit" class="btn btn-primary" name="Item_ID" value="{{ item.Item_ID }}">Edit</button>
    {% for key, value in item.items() %}
    {{ key|e }}:{{ value|e }},
    {% endfor %}
  </p>
  {% endfor %}
</form>

{% endblock %}
