{% extends "base.html" %}
{% block title %}Login{% endblock %}
{% block content %}
<div class="jumbotron mt-3">
  <div class="card card-body">
    <img src="images/AV.png" width="250" height="auto" style="margin:auto" />
    <form action="login" method="post">
      <div class="form-group">
	<input type="text" name="username" class="form-control" placeholder="Username" />
	<input type="password" name="password" class="form-control" placeholder="Password" />
      	<button type="submit" class="btn btn-primary" style="display:block;margin:auto;">Login</button>
      </div>
    </form>
  </div>
</div>
{% endblock %}
