{% extends "base.html" %}
{% block title %}Modify User{% endblock %}
{% block content %}
<form action="user_mod" method="post">
  <div class="form-group">
    <label>Username
      <input type="text" name="username" class="form-control"
	     placeholder="{{ userdata.username|e }}"
	     value="{{ userdata.username|e }}" readonly />
    </label>
  </div>
  <div class="form-group">
    <label>Password
      <input type="password" name="password" class="form-control" placeholder="Leave password unchanged">
    </label>
  </div>
  <div class="form-group">
    <label>E-mail
      <input type="email" name="email" class="form-control" value="{{ userdata.email|e }}" />
    </label>
  </div>
  <div class="form-group">
    <label>Last Name
      <input type="text" name="realname" class="form-control" value="{{ userdata.lastname|e }}" />
    </label>
  </div>
  <div class="form-check">
    <label class="form-check-label">
      <input type="checkbox" name="admin" class="form-check-input"
	     {% if userdata.isadmin %}checked{% endif %}
	     >Administrator</input>
    </label>
  </div>
  <input type="hidden" name="userid" value="{{ userdata.userid }}" />
  <input type="hidden" name="employeeid" value="{{ userdata.employeeid }}" />
  <button type="submit" class="btn btn-primary" name="action" value="modify">Update</button>
  <button type="submit" class="btn btn-danger" name="action" value="delete">Delete User</button>
</form>
{% endblock %}
