{% extends "base.html" %}
{% block title %}User List{% endblock %}
{% block content %}

<div class="card card-inverse text-center" style="background-color: #343a40; border-color: #333; color:#FFFFFF;">
  <div class="card-block">
    <blockquote class="card-blockquote">
      <h1 style="margin-top:25px">Users</h1>
      <a href="create_user" class="btn btn-success btn-sm" role="button" lign="center">Create User</a>
     </blockquote>
  </div>
</div>

<div class="table-responsive">
  <table class="table table-sm table-striped">
    <form action="user_mod" method="post">
      <input type="hidden" name="action" value="show" />
      <table class="table table-striped">
        <thead>
          <tr align="center">
          	<th>User Name</th>
          	<th>Last Name</th>
          	<th>First Name</th>
          	<th>E-Mail</th>
          	<th>Phone Number</th>
          	<th>Administrator</th>
          	<th>Role</th>
          </tr>
        </thead>
        <tbody>
          {% for employee_id, userdata in userlist.items() %}
          <tr>
    	<td><button type="submit" class="btn btn-link" name="employee_id"
    		    value="{{ employee_id }}">{{ userdata['username']|e }}</button></td>
    	{% for data in ['last_name', 'first_name', 'email', 'phone_number', 'is_admin', 'role'] %}
    	<td>{{ userdata[data]|e }}</td>
    	{% endfor %}
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </form>
</table><!--./table table-sm table-stripe-->
</div><!--./table-responsive-->
{% endblock %}
