{% extends "base.html" %}
{% block title %}User List{% endblock %}
{% block content %}
<div>
  <a href="create_user">Create User</a>
</div>
<form action="user_mod" method="post">
  <input type="hidden" name="action" value="show" />
  <table class="table table-striped">
    <thead>
      <tr>
	<th>User Name</th>
	<th>Name</th>
	<th>E-Mail</th>
	<th>Privileges</th>
      </tr>
    </thead>
    <tbody>
      {% for username, userdata in userlist.items() %}
      <tr>
	<td><button type="submit" class="btn btn-link" name="username"
		    value="{{ username|e }}">{{ username|e }}</button></td>
	{% for data in userdata %}
	<td>{{ data|e }}</td>
	{% endfor %}
      </tr>
      {% endfor %}
    </tbody>
  </table>
</form>
{% endblock %}
