{% extends "base.html" %}
{% block title %}Edit Item{% endblock %}
{% block content %}


<!--START OF ITEM-->   
<form action="view_item" method="post">
  <input type="hidden" name="Item_ID" value="{{item.Item_ID}}" />
  <!--EDITABLE
      Item Name-->
  <div class="form-row">
    <div class="form-group col-md-6">
      <label>Item Name</label>
      <input type="text" name="item_name" class="form-control" value="{{item.Item_Name|e}}" />
    </div>
    
    <div class="form-group col-md-6">
      <label>Item Description</label>
      <input type="text" name="item_descp" class="form-control" value="{{item.Description|e}}" />
    </div>
  </div>

  <div class="form-row">
    <div class="form-group col-md-6">
      <label>Model</label>
      <input type="text" name="item_model" class="form-control" value="{{item.Item_Name|e}}" />
    </div>

    <div class="form-group col-md-6">
      <label>Serial</label>
      <input type="text" name="item_serial" class="form-control" value="{{item.Description|e}}" />
    </div>
  </div>

  <div class="form-group col-md-6">
    <button type="submit" class="btn btn-primary" name="action" value="modify">Update</button>
    <button type="submit" class="btn btn-primary"
	    name="action" value="{{ action }}">{{ action }}</button>
    <button type="submit" class="btn btn-danger" name="action" value="delete">Delete Item</button>
  </div>

  <div class="form-row">
    <div class="form-group col-md-12">
      <label>{{action}} comment</label>
      <input type="text" name="comment" class="form-control" />
    </div>
  </div>

  {% if action == "Checkout" %}
  <div class="form-row">
    <div class="form-group">
      <label>Check out for how many days?</label>
      <input type="text" name="duration" class="form-control" value="28"/>
    </div>
  </div>
  {% endif %}
</form>

{% if action == "Checkin" %}
<p>Checked out to {{ checkout.Last_Name|e }}, {{ checkout.First_Name|e }}</p>
<p>Due {{ checkout.Due_Date }}</p>
{% endif %}

<div id="qrcode" />
<script src="js/qrcode.js"></script>
<script type="text/javascript">
  new QRCode(document.getElementById("qrcode"), "{{ link }}");
</script>

<div class="jumbotron"><h4>Checkout log</h4></div>
<div class="table-respopnse">
  <div class="table-responseive">
    <table class="table table-striped">
      <theader>
	<tr>
	  <th>Date</th>
	  <th>Employee</th>
	  <th>In/Out</th>
	  <th>Comment</th>
	</tr>
      </theader>
      <tbody>
	{% for entry in log %}
	<tr>
	  <td>{{ entry.Log_Date }}</td>
	  <td>{{ entry.Last_Name|e }}, {{ entry.First_Name|e }}</td>
	  <td>{{ entry.Event }}</td>
	  <td>{{ entry.Comment|e }} </td>
	</tr>
	{% endfor %}
      </tbody>
    </table>
  </div>
</div>

{% endblock %}
